<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <form>
        <div class="form-group">
          <h3>Add a link</h3>
          <div>
            <label for="title">Title</label>
            <input class="form-control" name="title" #title>
          </div>
          <div>
            <label for="link">Link</label>
            <input class="form-control" name="link" #link>
          </div>
        </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="addArticle(title, link)">Add</button>
      </div>
      <div>
        <app-article
        *ngFor="let item of articles"
        [article] = 'item'
        ></app-article>
      </div>

    </form>
    </div>

  </div>
</div>
